.cards-box {
    display: flex;
}

.card {
    width: 20%;
    margin: 5px 10px;
}


/* .card-img {
    width: 20%;
}

.card-img img {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card-box {
    margin: 10px auto;
    width: 100%;
    display: -webkit-inline-box;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 10px;
    border-top: solid 1.2px #c6c6c6;
}

.card-box:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-container {
    padding: 4px 20px;
}

.btn {
    margin: 2px 0;
    padding: 3px 10px;
    color: #FFFFFF;
    background-color: #3366ff;
    border: solid 1px #3366ff;
    border-radius: 5px;
    position: absolute;
    right: 8;
    bottom: 5;
}

@media (max-width:968px) {
    .btn {
        position: relative;
        right: 0;
        bottom: 0;
    }
} */